<% if current_user %>
    <%= link_to('退出', destroy_user_session_path, :method => :delete) %> |
    <%= link_to('修改账户', edit_registration_path(:user)) %>
    <%= link_to '查看学生列表', students_path %>
<% else %>
    <%= link_to('注册', new_registration_path(:user)) %> |
    <%= link_to('登录', new_session_path(:user)) %>
<% end %>

<h1 style="margin-top:10px;">编辑主页内容</h1>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= render 'form' %>

