<h1>Listing contents</h1>

<table>
  <thead>
    <tr>
      <th>Bannerdescription</th>
      <th>Teachingaims</th>
      <th>Faculty</th>
      <th>Coursedescriptionandprice</th>
      <th>Relationships</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.bannerDescription %></td>
        <td><%= content.teachingAims %></td>
        <td><%= content.faculty %></td>
        <td><%= content.courseDescriptionAndPrice %></td>
        <td><%= content.relationships %></td>
        <td><%= link_to 'Show', content %></td>
        <td><%= link_to 'Edit', edit_content_path(content) %></td>
        <td><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Content', new_content_path %>
