<p id="notice"><%= notice %></p>

<p>
  <!--<strong>Bannerdescription:</strong>-->
  <%= @content.bannerDescription %>
</p>

<p>
  <strong>NO.1&nbsp;&nbsp;教学目标</strong>
  <%= @content.teachingAims %>
</p>

<p>
  <strong>NO.3&nbsp;&nbsp;师资力量</strong>
  <%= @content.faculty %>
</p>

<p>
  <strong>NO.3&nbsp;&nbsp;课程简介及价格</strong>
  <%= @content.courseDescriptionAndPrice %>
</p>

<p>
  <strong>NO.4&nbsp;&nbsp;关系网</strong>
  <%= @content.relationships %>
</p>

<%= render 'students/form' %>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>





