<div><%= link_to '返回', edit_content_path(1) %></div>
<div id="relationship_index_wrapper">
  <div id="relationship_index_title">目前合作的团队有:</div>
  <table>
    <tbody>
    <% @relationships.each do |relationship| %>
        <tr>
          <td><a href="<%= relationship.team_url %>"><span><%= relationship.team_name %></span></a></td>
          <td><%= link_to '更新', edit_relationship_path(relationship) %></td>
          <td><%= link_to '删除', relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br />

  <%= link_to '增加关系网', new_relationship_path %>

</div>

