<p id="notice"><%= notice %></p>

<p>
  <strong>Team name:</strong>
  <%= @relationship.team_name %>
</p>

<p>
  <strong>Team url:</strong>
  <%= @relationship.team_url %>
</p>

<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
