<% if current_user %>
    <%= link_to('退出', destroy_user_session_path, :method => :delete) %> |
    <%= link_to('修改账户', edit_registration_path(:user)) %>
<% else %>
    <%= link_to('注册', new_registration_path(:user)) %> |
    <%= link_to('登录', new_session_path(:user)) %>
<% end %>

<h1 style="margin:10px;">学生列表</h1>

<table>
  <thead>
    <tr>
      <th>学生姓名</th>
      <th>学习课程</th>
      <th>联系方式</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.student_name %></td>
        <td><%= student.obtain_courses %></td>
        <td><%= student.contact_information %></td>
        <td><%= link_to '详细', student %></td>
        <td><%= link_to '编辑', edit_student_path(student) %></td>
        <td><%= link_to '删除', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
