<%= form_for(@course_description_and_price) do |f| %>
  <% if @course_description_and_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_description_and_price.errors.count, "error") %> prohibited this course_description_and_price from being saved:</h2>

      <ul>
      <% @course_description_and_price.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_name %><br>
    <%= f.text_field :course_name %>
  </div>
  <div class="field">
    <%= f.label :course_hour %><br>
    <%= f.text_field :course_hour %>
  </div>
  <div class="field">
    <%= f.label :course_price %><br>
    <%= f.text_field :course_price %>
  </div>
  <div class="field">
    <%= f.label :course_teacher %><br>
    <%= f.text_field :course_teacher %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
